body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    width:100%;
    max-width:1680px;
    margin: 0 auto;
    padding: 0 80px;
}   
